# Dependencies
/node_modules
/.pnp
.pnp.js

# Production
/build
/.next/
/out/

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Environment variables
.env*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts